<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.AdminMapper">
    <select id="selectAll" resultType="Admin">
        SELECT * FROM admin;
    </select>

    <select id="selectPage" resultType="Admin">
        SELECT * FROM admin limit #{index},#{pageSize}
    </select>

    <select id="selectAdmin" resultType="Admin">
        SELECT * FROM admin
        <trim prefix="where">
            <if test="aname != null and aname != ''">
                aname=#{aname}
            </if>
            <if test="apwd != null and apwd != ''">
                AND apwd=#{apwd}
            </if>
        </trim>
    </select>

    <select id="selectById" resultType="Admin">
        SELECT * FROM admin WHERE aid=#{aid};
    </select>

    <insert id="insertAdmin" parameterType="Admin">
        insert  into admin(aname,apwd) values (#{aname},#{apwd});
    </insert>

    <delete id="deleteAdmin">
        DELETE from admin WHERE aid=#{aid};
    </delete>

    <update id="updateAdmin" parameterType="Admin">
        update admin
        <trim prefix="set" suffixOverrides=",">
            <if test="#{aname}!=null and #{apwd}!=''">
                aname = #{aname},
            </if>
            <if test="#{apwd}!=null and #{apwd}!=''">
                apwd = #{apwd},
            </if>
        </trim>
        where aid = #{aid};
    </update>


</mapper>